// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  background-color: var(--bg-color2);
  padding: rem(32px) 0;
  &__top {
    display: flex;
    align-items: center;
    padding-left: rem(34px);
    margin-bottom: rem(27px);
    line-height: rem(24px);
  }
  &__bottom {
    display: flex;
    align-items: center;
    padding-left: rem(34px);
  }
  &__top-right {
    margin-left: auto;
    margin-right: rem(-11px);
  }
  &__top-left {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
    }
    a:first-child {
      margin-right: rem(25px);
    }
    & .svg-icon {
      margin-right: rem(10px);
    }
  }
  &__catalog-btn {
    font-family: $OnestExtraBold;
    color: var(--font-main-color);
    font-size: rem(18px);
    padding: 0 rem(22px);
    margin-right: rem(24px);
    & .svg-icon {
      margin-right: rem(16px);
    }
  }
  &__search-form {
    flex-grow: 1;
    margin-right: rem(32px);
  }
}
.header-nav {
  height: auto;
  line-height: initial;
  background-color: transparent;
  &__link {
    color: var(--font-main-color);
    padding: 0 rem(11px);
  }
}
.user-nav {
  &__list {
    display: flex;
    align-items: center;
    gap: rem(24px);
  }
  &__item {
    position: relative;
  }
  &__counter {
    z-index: 6;
    position: absolute;
    font-size: rem(10px);
    font-family: $OnestMedium;
    display: flex;
    align-items: center;
    justify-content: center;
    right: rem(-8px);
    top: rem(-6px);
    width: rem(17px);
    height: rem(17px);
    background-color: #EDD258;
    border-radius: 50%;
    border: 2px solid var(--bg-color2);
  }
  &__link:hover svg {
    filter: brightness(0.8);
  }
}
.svg-icon {
  height: auto;
}
.svg-icon--logo {
  width: rem(190px);
}
.svg-icon--geo {
  width: rem(16px);
}
.svg-icon--phone {
  width: rem(14px);
}
.svg-icon--burger-catalog {
  width: rem(24px);
}
.svg-icon--person,
.svg-icon--compare,
.svg-icon--favorite,
.svg-icon--cart {
  width: rem(20px);
}
