// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// Переменные для кнопки

// … включите сюда любые правила для кнопки:
// - миксины
// - плейсхолдеры
// - функции

/**
 * Кнопки
 */
button:focus {
  background-color: var(--brand-color);
}
.btn {
  height: rem(36px);
  line-height: rem(36px);
  padding: 0 rem(16px);
}
.btn-large {
  height: rem(54px);
  line-height: rem(54px);
}
button.btn,
button.btn-large,
button.btn-small {
  font-family: $OnestExtraBold;
  text-transform: uppercase;
}
button.btn:hover,
button.btn-large:hover,
button.btn-small:hover {
  box-shadow: none;
  background: linear-gradient(0deg, rgba(14, 25, 46, 0.2), rgba(14, 25, 46, 0.2)), #2A79CC;
}
