-
  const fonts = [
      'Onest-Black',
      'Onest-Bold',
      'Onest-ExtraBold',
      'Onest-Light',
      'Onest-Medium',
      'Onest-Regular',
      'Onest-Thin'
    ]
-
  const site = {
    title: 'Эверест',
    description: 'Строительный магазин',
    url: 'http://localhost:8080',
    logo: '/img/logo.png',
  }
-
  const links = [
    {
      name: 'Доставка',
      path: '/delivery.html'
    },
    {
      name: 'Оплата',
      path: '/payment.html'
    },
    {
      name: 'Прайс-лист',
      path: '/price-list.html'
    },
    {
      name: 'Оптовикам',
      path: '/wholesalers.html'
    },
    {
      name: 'Вакансии',
      path: '/vacancy.html'
    },
    {
      name: 'Новости',
      path: '/news.html'
    },
    {
      name: 'Контакты',
      path: '/contacts.html'
    }
  ]

-
  const contacts = {
    phone: {
      name: 'Телефон',
      value: 'tel:+78552448409',
      text: '+7 8552 44-84-09',
      icon: 'phone'
    },
    email: {
      name: 'Почта',
      value: 'mailto:sale@everest-rt.ru',
      text: 'sale@everest-rt.ru',
      icon: 'email'
    },
    address: {
      name: 'Адрес',
      value: 'ООО «ЭПК» 420054, Республика Татарстан г. Казань, ул. Техническая, д. 10, к. 2',
      text: 'ООО «ЭПК» 420054, Республика Татарстан г. Казань, ул. Техническая, д. 10, к. 2',
      icon: 'address'
    }
  }
