-
  const fonts = [
      'Onest-Light',
      'Onest-Black',
      'Onest-Thin',
      'Onest-Bold',
      'Onest-ExtraBold',
      'Onest-Regular',
      'Onest-Medium'
    ]
-
  const links = [
    {
      name: 'Доставка',
      path: '/delivery.html'
    },
    {
      name: 'Оплата',
      path: '/payment.html'
    },
    {
      name: 'Прайс-лист',
      path: '/price-list.html'
    },
    {
      name: 'Оптовикам',
      path: '/wholesalers.html'
    }
    ,
    {
      name: 'Вакансии',
      path: '/jobs.html'
    }
    ,
    {
      name: 'Новости',
      path: '/news.html'
    }
    ,
    {
      name: 'Контакты',
      path: '/contacts.html'
    }
  ]

-
  const contacts = {
    phone: {
      name: 'Телефон',
      value: 'tel:+78552448409',
      text: '+7 8552 44-84-09',
      icon: 'phone'
    },
    email: {
      name: 'Почта',
      value: 'mailto:sale@everest-rt.ru',
      text: 'sale@everest-rt.ru',
      icon: 'email'
    },
    address: {
      name: 'Адрес',
      value: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      text: '197342, Санкт-Петербург, наб. Черной речки, д. 41, к. 2, лит. Б, пом. №9',
      icon: 'address'
    }
  }
