// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
:root {
  --brand-color: #2A79CC;
  --font-main-color: #0E192E;
  --font-special-color: #045da0;
  --bg-color: #FFFFFF;
  --bg-color2: #E8EFF5;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: calc(0.4em + 0.5vw);  // На ширине экрана 1920px размер шрифта 16px
  @include media('max', 'sm') {
    font-size: 12px;
  }
}
@media print {
  * {
    color: black !important;
    background: none !important;
  }
}
body {
  font-family: $Onest, $text-font-stack;
  font-size: rem(16px);
  line-height: rem(21px);
  font-style: normal;
  font-weight: normal;
  color: var(--font-main-color);
  position: relative;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  text-rendering: auto;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  outline: none !important;
  &.modal-active {
    overflow: hidden;
  }
  &.mobile-menu-open {
    overflow: hidden;
  }
}
html::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background-color: #f9f9fd;
  //border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  //border-radius: 10px;
  background-color: var(--brand-color);
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  //border-radius: 10px;
  background-color: #f9f9fd;
}
table {
  width: 100%;
}
td {
  border: 1px solid #000;
}
@media (max-width: 30em) {
  table, thead, tbody, tr, th, td {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin-bottom: 1em;
  }
}
a {
  color: var(--font-main-color);
}
a:active {
  opacity: 0.5;
}
img {
  //aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
  max-width: 100%;
}
figure {
  margin: 0;
}
svg {
  z-index: 5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: 1.15;
}
p {
  margin: 0;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[v-cloak] {
  visibility: hidden;
}
.container {
  max-width: rem(1344px);
  @include mediaCustom('min', '993px') {
    width: 100%;
  }
}
.title {
  color: var(--font-main-color);
  font-family: $OnestExtraBold;
  font-size: rem(48px);
  line-height: rem(52px);
  margin: rem(68px) 0 rem(48px);
  text-transform: uppercase;
}
img.lazy {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
img.lazy.loaded {
  background: transparent;
  animation: none;
}
// Restyle Materialize
input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: var(--brand-color);
}
.row {
  margin-bottom: 0;
}
.waves-effect.waves-brand .waves-ripple {
  background-color: var(--brand-color);
}
.btn, .btn-large {
  box-shadow: none;
}
// END Restyle Materialize
